<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="index.css">
        <title>To-Do List</title>
    </head>
    <body>
       <div class="block" id="app">   
            <div class="container">
                <h2 class="heading">To-Do App</h2>
                <label style="font-weight: bold;">New To-Do</label>
                <br>
<!-- Input Box -->  <input type="text" placeholder="Please enter an activity" id="name"  class="input-box" v-model="todo" /> 
                <h5 v-if="isError">*Please enter a value</h5>
<!-- Button    -->  <input type="button" value="Add ToDo" id="btn-click" class="btn" @click="storeTodo"  />
                <span id="error"></span>
                <h3>To-Do List</h3>
                <hr size="1" width="100%" color="white">
<!-- Display --><ul id="box">
                    <li v-for="todo in todos">
                        {{ todo }}

                        <button @click="deleteTodo(index)" class="remove-btn">Remove</button>
                    </li>
                </ul>
            </div>
        </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>  -->
        <script src="Vue JS/vue.js"></script>
        <script src="script.js"></script>

    </body>
</html>